<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceDirectory" value="C:\Games\Steam\steamapps\common\Heroes of Hammerwatch 2\saves"/>
		<!--put it in its own folder, especially if you are using the archiving old backup option.-->
		<add key="SaveDirectory" value="c:\Hammerwatch_Backups"/>
		<add key="BackupSubdirectories" value="false"/>
		<add key="AttemptScreenshots" value="true"/>
		<add key="FolderDateTimeFormat" value="yyyy-MM-dd HH-mm-ss"/>
		<!--if this is set below 1 second, make sure the folder datetime format includes ms. (aka yyyy-MM-dd HH-mm-ss.fff)-->
		<add key="CheckEveryXSeconds" value="5"/>
		
		
		<add key="CompressOldFolders" value="true"/>
		<!--only does something when the previous is set to true-->
		<add key="MaxFoldersBeforeCompressing" value="50"/>
		<!--Compression levels...value between 1 and 4. 1 being the most compression. 4 being the least-->
		<add key="CompressionLevel" value="1"/>
		<!--can be the same as the save directory, a subdirectory inside the save dir, or anywhere else-->
		<add key="ArchiveFolder" value="c:\Hammerwatch_Backups\!archive"/>


	</appSettings>
</configuration>